.github/copilot.yml
Elo Scoring System/backend/.env
/Elo Scoring System/.github
/Elo Scoring System/backend/node_modules
Elo Scoring System/.DS_Store
.DS_Store
/LearnTypeScript/library-management/.next
/LearnTypeScript/library-management/node_modules
